@import '/node_modules/fontawesome-free/css/all.min.css';
@import './jquery.toast.css';
@import 'car-makes-icons/dist/style.css';
@import '/node_modules/jquery-ui/dist/themes/base/jquery-ui.css';


/* Reset some default styles for better consistency */
:root {
    --blueheader: rgb(35, 112, 255);
    /* Bleu */
    --blueForms: rgb(115, 164, 255);
    --greenbutton: #27ae5f00;
    --greenbuttonhover: rgba(0, 159, 0, 0);
    --notification-color: rgb(12, 85, 232);
    --mobileWidth: 768px;
}
html,body{
    height: 100%;
}
body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Style the header */
.header {
    background-color: blue;
    /* Blue background color */
    color: white;
    /* White text color */
    padding: 10px 0;
}

/* Center the header content */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style the website title (h1) */
@media (max-width: var(--mobileWidth)) {
    .header-container>a>h1 {
        font-size: 1.2rem;
    }
}

.header h1 {
    font-size: 24px;
}


/* Style the navigation menu */
.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: white;
    /* White link text color */
    text-decoration: none;
    transition: .2s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0);

    &:hover {
        border-bottom: 2px solid white;
        font-size: 1.1rem;
        transition: .2s;
    }
}

/* Style the login button */


.redlogout-button:hover {
    font-weight: bolder;
    transition: .2s;
    transform: scale(1.5);
}

.login-button {
    background-color: var(--greenbutton);
    /* Vert */
    color: white;
    padding: .8rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.login-button:hover {
    background-color: var(--greenbuttonhover);
    font-weight: bolder;
    transition: .2s;
    transform: scale(1.5);
}



/* Reset some default styles for better consistency */
body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styles pour l'en-tête */
header {
    background-color: var(--blueheader);
    color: white;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 24px;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
    /* text-align: center; */
}

.nav ul li a {
    color: white;
    text-decoration: none;
}



.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* menu hamberger pour mobile */
@media (orientation: portrait) {
    .nav ul {
        display: none;
        flex-direction: column;
        background-color: #243a7a;
        /* Fond du menu hamburger */
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        transition: .2s;
        font-weight: lighter;
    }

    .nav ul.active {
        display: flex;
        transition: .2s;
        font-weight: lighter;
    }

    .menu-icon {
        display: flex;
        transition: .2s;
        flex-direction: column;
    }
}


/* ICI C HUMAIN vvv */

#xtitle {
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.notification {
    font-family: system-ui, sans-serif;
    color: black !important;
    font-size: 1rem;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    /* https://moderncss.dev/pure-css-custom-checkbox-style/ */
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    float: left;

    margin-left: -1.3em;
    margin-top: 0.20em;
    font: inherit;
    color: currentColor;
    width: 1.05em;
    height: 1.05em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--notification-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:checked {
    transform: scale(1);
}

.erreur {
    color: red;
    font-weight: bold;
    overflow-wrap: break-word;
}


/* Filters */
#orderby-list>* {
    margin: 10px 0;
}

/* #orderby-list > *:first-child {
    margin: 0px;
} */

#page_filtre {
    display: block;
    min-height: 100%;
    background-color: var(--blueheader);
    color: white;
}