.align-center{
    margin:auto;
}
.selectors{
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-alignement{
    text-align: center;
}
.clean-window-border{
    border-radius: 5px;
}
textarea {
    resize: none;  
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
}
.form-style{
    text-align: center;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
}
.form-text-styling{
    font-weight: bold;
    font-size: 16px;
}
.inputForm{
    color: #004aad;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.width10{
    width: 15%;
}
select{
    color: #004aad;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.inputStyleCopy{
    height: 2em;
    width: 70%;
    border-radius: 50px;
    color: #004aad;
    font-weight: bold;
    text-align: center;
    min-width: 7em;
}
.form-style>div>textarea{
    border-radius: 5px;
    color: #004aad;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.not-available
{
    color: gray;
    font-weight: bolder;
}
#hint{
    transition: 1s; /* Specify 'transform' property and duration in seconds */
    opacity: 0;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    /* position: absolute; */
    background-color: #004aad;
    color: white;
    transform: translateY(100%);
}
#hint.active{
    transition: 1s;
    opacity: 1;
    transform: translateY(-5px);
    
}
#hintActivator
{
    transition: 1s;
}
.important{
    color: red;
    font-weight: bold;
    font-size: smaller;
}
.buttonEffect{
    height: 2em;
    background-color: #004aad;
    color:white;
    border-radius: 5px;
    width: fit-content;
    display: block;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
}
hr{
    width: 90%;
    margin-top: 0em;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
.buttonEffect:hover{
    background-color: white;
    color:#004aad;
}


/*--------------------------*/

/* Styles pour les boutons radio carrés */
input[type="radio"] {
    /* appearance: none; Masque l'apparence par défaut des boutons radio */
    
    width: 1em; /* Largeur souhaitée pour les boutons radio */
    height: 1em; /* Hauteur souhaitée pour les boutons radio */
    /* outline: 1px solid black; */
    background-color: white; /* Couleur de fond par défaut */
    border-radius: 4px; /* Pas de coin arrondi */
    cursor: pointer; /* Curseur de type main pour indiquer la possibilité de cliquer */
    margin-right: 5px; /* Espacement entre les boutons radio */
     /* Transition pour l'animation */
}

/* Styles lorsque le bouton radio est sélectionné */
input[type="radio"]:checked {
    background-color:#002c66; /* Couleur de fond grise lorsqu'il est sélectionné */
    background-image: url();
    transition: 0.5s;
}

input[type="radio"]:hover {
    transition: 0.1s;
}

/*/////////////////////*/


.upload {
    &__box {
      padding: 40px;
    }
    &__inputfile {
      width: .1px;
      height: .1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    
    &__btn {
      display: inline-block;
      font-weight: 600;
      color: #fff;
      text-align: center;
      min-width: 116px;
      padding: 5px;
      transition: all .3s ease;
      cursor: pointer;
      border: 2px solid;
      background-color: #4045ba;
      border-color: #4045ba;
      border-radius: 10px;
      line-height: 26px;
      font-size: 14px;
      
      &:hover {
        background-color: unset;
        color: #4045ba;
        transition: all .3s ease;
      }
      
      &-box {
        margin-bottom: 10px;
      }
    }
    
    &__img {
      &-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
      }
      
      &-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;
      }
      
      &-close {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 10px;
          right: 10px;
          text-align: center;
          line-height: 24px;
          z-index: 1;
          cursor: pointer;
  
          &:after {
            content: '\2716';
            font-size: 14px;
            color: white;
          }
        }
    }
}
  
.img-bg {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
padding-bottom: 100%;
}

/*//////////////////*/
/*Add Images css*/

/*Les divs*/
.image-preview {
    position: relative;
    width: 10em; /* Taille maximale de l'image carrée en pixels */
    height: 10em; /* Taille maximale de l'image carrée en pixels */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
}

#image-container{
    display: grid;
    grid-template-columns: repeat( 2, minmax(10em, 10em) );
    width: fit-content;
    margin: auto;
}
@media (orientation:portrait) {
    #image-container{
        display: grid;
        grid-template-columns: repeat( 1, minmax(10em, 10em) );
        width: 50%;
        margin: auto;
    }
    .mobile-modi{
        width:85%;
    }
}

.remove-image {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 5px;
}
.remove-image:hover {
    background-color: gray;
    border: 2px solid red;
    color: red;
}
/*Les images dans les div*/
.image-css{
    background-repeat: no-repeat;
    min-width:-webkit-fill-available;
    height: 100%;
}

/*CSS for publication page index*/
.card-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 300px) );
    grid-gap: 1em;
    justify-content: center;
}
.cardd{
    transition: 0.5s;
    text-align: center;
}

.cardd:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
    text-align: center;
    cursor: pointer;
}
.card-image{
    width: 100%;
    height: 160px;
    margin: auto;
    object-fit: cover;
    transition: 0.2;
}
.card-image:hover{
    -webkit-filter: brightness(70%);
}
.card-title{
    color: #232628;
    font-weight: bolder;
    float: left;
    text-transform: uppercase;
    width: fit-content;
    margin: 5px;
}
.card-price{
    color: white;
    background-image: linear-gradient(to right, #006eff , #004aad);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    float: right;
    padding: 5px;
    padding-left: 20px;
    width: fit-content;
    transition: 0.5s;
}
.card-kilometer{
    float: left;
    color: gray;
    width: fit-content;
    margin: 5px;
}
.card-postal-code{
    float: left;
    color: gray;
    float: right;
    margin: 5px;
    width: fit-content;
}
.card-postal-code:hover{
    cursor: pointer;
    color: green;
}
.card-location-icon{
    height: 18px;
    float: right;
    margin: 5px;
}
/*Filter's CSS*/
.filters-container
{
    outline: 1px solid darkgray;
    background-color: gainsboro;
    width: 90%;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-bottom: 2em;
}
.filter{
    transition: 0.5s;
    background-color:#004aad;
}
.filter:hover{
    transition: 0.5s;
    color: black;
    cursor: pointer;
    background-color: white;
}
.filters-controls{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(120px, 100px) );
    grid-gap: 1em;
    justify-content: center;
}
/*CSS for the card state like "vendu, time remaining etc"*/
.card-state-text{
    position: absolute;
    width: 300px;
    background-color: darkred;
}
.card-bid{
    color: white;
    font-weight: bold;
}
.alert-success{
    background-color: darkgreen;
    font-family: bold;
    font-size: larger;
    position: fixed;
    z-index: 9999;
    border-radius: 0px !important;
}
.hiddenalert {
    transform: translateY(300px); /* Adjust the value to move the element down */
    transition: 1s;
}
#success
{
    opacity: 1;
    transition: 1s;

    border: 0px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    color: white;
    width: 100%;
}
.end-of-inventory{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    margin-top: 1em;
    height: 100px;
    outline: 1px solid darkgray;
}
/*CSS for detail page*/
.main-container-style{
    text-align: center;
    width: 85%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.detail-title{
    color: #004aad;
    font-weight: bolder;
    margin-bottom: 0px;
}
.detail-contact-div{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.detail-contact-div-test{
display: flex;
}
.detail-info-text{
    color: #004aad;
    font-weight: bolder;
    
}
.float-left{
    width: fit-content;
}
.car-info{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 1em;
    justify-content: center;
    margin: 1em;
}
@media (orientation:portrait) {
    .car-info{
        grid-template-columns: repeat(1, 1fr);
    }
}
.detail-icon{
    padding: 5%;
    width: 30%;
    margin: auto;
    object-fit: contain;
}
.div-button-actions{
    cursor:pointer;
}
.fav-icon{
    padding: 5px;
    font-weight: bolder;
    font-size: x-large;
    margin: auto;
}
.detail-profil-vendeur{
    height: 2em;
    margin: auto;
    border-radius: 500px;
}
.car-info-item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 5px;
}
.detail-labels{
    width: 100%;
    font-size:100%;
    margin: auto;
}
.detail-state-text{
    background-color: darkred;
}
.detail-image{
    width: 100%;
    height: 500px;
    margin: auto;
    object-fit: contain;
    transition: 0.1s;
}
.detail-no-image{
    width: 100%;
    margin: auto;
    object-fit: contain;
}
.image-container {
    position: relative; /* Make the container a positioning context */
    background-color: black;
}

.image-buttons {
    position: absolute;
    top: 50%; /* Adjust the vertical position as needed */
    left: 0; /* Adjust the horizontal position as needed */
    transform: translate(0, -50%); /* Center vertically */
    width: 100%;
    height: 100%;
}
.alert-hover{
    color: white;
}
.alert-hover:hover{
    color: darkred;
}
.buttonArrow-left{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border: none;
    left: 0;
    height: 100%;
    position: absolute;
    width: 10%;
    font-weight: bolder;
}
.buttonArrow-right{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border: none;
    right: 0;
    height: 100%;
    position: absolute;
    width: 10%;
    font-weight: bolder;
}
.buttonArrow-left:hover{
    background-color: rgba(50, 50, 50, 0.9);;
}
.buttonArrow-right:hover{
    background-color: rgba(50, 50, 50, 0.9);;
}
.Area-info-container{
    display: grid;
    width: fit-content;
    margin: auto;
    height: 5em;
    align-content: center;
}
.detail-postal-code{
    float: left;
    color: gray;
    font-weight: bold;
    float: right;
    /* height: 50px; */
    font-size: 25px;
    /* margin: auto; */
    margin: 5px;
    width: fit-content;
}
.detail-postal-code:hover{
    cursor: pointer;
    color: green;
}
.contact-icon{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.opacity{
    width: fit-content;
    background-color: white;
    transition: 0.5s;
    border-radius: 5px;
}
.opacity.active {
    transition: 0.5s; /* Specify 'transform' property and duration in seconds */
    opacity: 0;
}
.detail-text-emphasis
{
    font-weight: bolder;
    padding: 1em;
    margin: 0px;
}
.noDec{
    text-decoration: none;
    height: fit-content;
    display: block;
}
.button-container{
    width: 85%;
    justify-content: center;
    margin: auto;
}
.action-buttons{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(48px, 1fr) );
}
.action-buttons > *{
    margin-right: 1em;
}
.alert-button-div{
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: darkred;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bolder;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.alert-button-div:hover{
    transition: 0.3s;
    color: black;
    transform: scale(1.1);
    background-color: white;
}
.button-div{
    text-align: center;
    margin: auto;
    background-color: #004aad;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bolder;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-div-icon{
    text-align: center;
    display: flex;
    margin: auto;
    background-color: #004aad;
    height: 2.5em;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-div-icon:hover{
    transition: 0.3s;
    color: black;
    transform: scale(1.1);
    background-color: white;
}
.button-div:hover{

    transition: 0.3s;
    transform: scale(1.1);
}
.button-div:hover{
    background-color: white;
    transition: 0.3s;
    transform: scale(1.1);
    color: black;
}